#logo228{
  color: #2A9E9E;
  font-size: 20px;
}
#logo118{
  font-size: 20px;
}
.sign_in{
  display: flex;
  justify-content: center;
}
.sign_in1{
/*border: solid 1px #2A9E9E;*/
border-radius: 5px;
box-shadow: 2px 1px 22px 1px rgba(42,158,158,0.23);
}
.form1{
  display: flex;
  flex-direction: column;
}
.label4{
  margin-top: 1rem;
}
#login_button{
  margin-top: 1rem;
  width: 45%;
  border-radius: 20px;
  color: #fff;
  background-color: #2A9E9E;
  border: none;
  margin-left: 30%;
  height: 25px;
  font-weight: bold;
}
.input_log{
  height: 22px;
  border-radius: 5px;
  border: solid 1px #2a9e9e;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 15px;
  width: 50%;
}